html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
}

footer {
  margin-top: 40px;
  padding: 10px;
  text-align: center;
}

form {
  margin-bottom: 5px;
}

header {
  margin-bottom: 40px;
}

.login, .register {
  display: inline-block;
  width: 48%;
}

#map {
  text-align: center;
}

svg {
  max-height: 80vh;
  max-width: 90vw;
}
