<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="container">
      <div id="upload-form">
        <form>
          <div class="form-group">
            <label for="numCols">Number of columns</label>
            <input type="number" min="1" value="1" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" class="form-control" id="numCols" placeholder="How many columns?">
          </div>
          <div class="form-group">
            <label for="numRows">Number of rows</label>
            <input type="number" min="1" value="1" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" class="form-control" id="numRows" placeholder="How many rows?">
          </div>
          <div class="form-group">
            <label for="pngFile">PNG file</label>
            <input type="file" id="pngFile">
            <p class="help-block">Must be a PNG file. Max-size is 5MB</p>
          </div>

          <button type="submit" class="btn btn-default">Build it Baby!</button>
        </form>
      </div>
    </div>
  </main>

  <footer>
    <div class="container">
      <% include ../partials/footer %>
    </div>
  </footer>

  <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="/js/app.js"></script>

</body>

</html>
